body {
  display: grid;
  place-items: center;
  height: 100%;
  font: 400 1em/1.38 'Noto Sans';
  color: rgb(0,0,0);
  transition: background-color 3.3s ease;        
}

.icon {
  padding-top: 20px;
  width: 330px;
  height: 330px;
  background: url('../images/ar.png');
  background-repeat: no-repeat;
  background-size: 330px 330px;
  background-position: 0px 20px;
  transition: all 0.6s ease;
}

h1 {
  font: 400 1em/1.38 'Noto Sans';
  font-size: 2.063em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;  
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.6s ease;
}

h1 a, h2 a {
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.6s ease;
}

h1 a:hover, h2 a:hover {
  background: rgba(255, 255, 255, 0.45);
  color:#333;
}

.social {
  min-height: 56px;
  margin: 33px auto 0;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0,0,0);
}

.fab {
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.6s ease;
  padding: 10px;
}

.fab:hover {
  color: rgba(255, 255, 255, 0.89);
}

.main {
  background-color: #333;
  border-radius: 25px;
  color:#fff;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.38;
  padding: 10px 30px 10px 30px;
}

.main a {
  color: #00A0FF;
}

.main a:hover {
  background-color: #ececec;
  color: #333;
}